* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;
}

div section {
    margin: 10px;
    padding: 10px;
}
#section-1{
    background-color: grey;
}

* #section-2 {
    background-color: grey;
   
}

#section-3 {
    background-color: grey;
}

#text > h3 {
    margin-bottom: 12px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}